.wy-nav-side {
  padding-top: 61px;
  padding-bottom: 0rem;
}

.wy-nav-content {
  margin-top: 61px;
}

.logo-width {
  width: 300px;
}

.content-width {
  width: 768px;
}
.section {
 padding: 0px
}

.nav-bottom {
  border-bottom: 1px solid #e2e2e2;
}

.qca-header {
  position: fixed;
  top: 0;
  z-index: 300;
  height: 61px;
  line-height: 61px;
  text-align: center;
  display: flex;
  width: 1100px;
}

@media (max-width: 768px) {
  .qca-header {
    display: none;
  }
